*{
  box-sizing: border-box;
}

#paging_buttons {
  text-align: center;
  margin: 5vh;
}

#paging_buttons button{
  cursor: pointer;
  margin: 10px;
  font-size: 18px;
  padding: 4px 16px;
  font-weight: 600;
  background-color: tomato;
  color: #202020;
  border: none;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

#paging_buttons button:hover{
  background-color: #202020;
  color: tomato;
}

#header_dead_or_alive{
  cursor: default;
  padding: 20px 40px;
  display: flex;
  width: 95vw;
}

#header_dead_or_alive h1{
  margin-left: 60px;
  color: tomato;
  letter-spacing: 4px;
  text-shadow: 3px 3px #202020;
  transition: all 0.4s ease-in-out;
}

#header_dead_or_alive h1:hover{
  letter-spacing: 20px;
}

#cards_display{
  display: flex;
  flex-wrap: wrap;
  margin: 3vh auto;
  width: 85%;
  justify-content: space-around;
}

.character_card{
  flex: 1 1 250px;
  width: min-content;
  text-overflow: ellipsis;
  margin: 40px;
  padding: 20px 30px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.character_card:hover{
  padding: 30px;
}

.character_card img{
  width: 250px;
  height: auto;
}

.character_card > *{
  margin: 8px;
}

.character_card_alive{
  box-shadow: 0 0 16px 3px #adff2f50;
  color: greenyellow;
}

.character_card_dead{
  box-shadow: 0 0 16px 3px #ff634750;
  color: tomato;
}

.character_card_unknown{
  box-shadow: 0 0 16px 3px #80808050;
  color: #808080;
}