body {
  margin: 0;
  font-family: 'Montserrat';
}

#container {
  width: 80vw;
  height: 100%;
  margin: 15vh auto;
  padding: 20px;
}

#container button {
  background-color: #142f43;
  font-size: 18px;
  font-weight: 600;
  color: aliceblue;
  border: none;
  padding: 7px 14px;
  border-radius: 3px;
  transition: all 0.25s ease-in-out;
  display: block;
  margin: 0 auto 15vh;
  cursor: pointer;
}

#container button:hover {
  color: #142f43;
  background-color: aliceblue;
  box-shadow: 0 0 8px 0 #142f4380;
}

#numbers {
  color: #142f43;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 10px;
}
